*{
    text-decoration: none;
}

body{
    background-color: #FFDAB9;
}
.banner{ 
    width: 100%;
}
.menu ul{
    background-color: #A0522D;
    height:70px;
    list-style:none;
    display:flex;
    align-items: center;
    justify-content: center;


}

.menu ul li{
    padding: :30px 20px;
    font-size: 20px;
    margin: 20px;

}
.menu ul a{
    color: white;
}
.menu ul a:hover{
    background-color:#FFDAB9;
    vertical-align: middle;
    padding: 23px;
    transition: 0.3s;
}
h1{ 
color: #A0522D;
text-align: center;
}
